<app-navbar></app-navbar>
<div class="main-view">
  <router-outlet></router-outlet>
</div>
<footer class="page-footer mt-5 pt-4 text-white" style="background-color: black;">
    <div class="container-fluid text-center">
      <div class="row">
        <div class="col-md-4 mt-md-0 mt-3">
          <h5 class="my-footer-headline">CONTACTS</h5>
          <span><h6>Address:</h6></span>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-4 mb-md-0 mb-3">
          <h5 class="my-footer-headline">CUSTOMER SERVICE</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-decoration-none text-white">Help Center</a>
            </li>
            <li>
              <a href="#!" class="text-decoration-none text-white">Track My Order</a>
            </li>
            <li>
              <a href="#!" class="text-decoration-none text-white">Return Policy</a>
            </li>
            <li>
                <a href="#!" class="text-decoration-none text-white">Contact Us</a>
              </li>
          </ul>
  
        </div>
        <div class="col-md-4 mb-md-0 mb-3">
          <h5 class="my-footer-headline">INFORMATION</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-decoration-none text-white">About Us</a>
            </li>
          </ul>
  
        </div>
      </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2021 Copyright: 
      <span>MyStore</span>
    </div>
  </footer>
